<div class="col-sm-3">
  <input class="form-control"
         type="text"
         placeholder="Input name"
         [(ngModel)]="name">
</div>
<div class="col-sm-3">
  <input class="form-control"
         type="number"
         placeholder="Input price"
         [(ngModel)]="price">
</div>
<div class="col-sm-3">
  <input class="form-control"
         type="text"
         placeholder="Input category"
         [(ngModel)]="category">
</div>
<div class="col-sm-1">
  <button class="btn btn-default"
          (click)="onSubmit()">Submit</button>
</div>
