<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="col-sm-3">
    <input class="form-control"
           type="text"
           placeholder="Input name"
           formControlName="name">

    <div *ngIf="formErrors.name" class="alert alert-danger">
      {{formErrors.name}}
    </div>
  </div>
  <div class="col-sm-3">
    <input class="form-control"
          type="number"
          placeholder="Input price"
          formControlName="price">

    <div *ngIf="formErrors.price" class="alert alert-danger">
      {{formErrors.price}}
    </div>
  </div>
  <div class="col-sm-3">
    <input class="form-control"
          type="text"
          placeholder="Input category"
          formControlName="category">

    <div *ngIf="formErrors.category" class="alert alert-danger">
      {{formErrors.category}}
    </div>
    </div>
  <div class="col-sm-1">
    <button class="btn btn-default"
            type="submit"
            [disabled]="!userForm.valid">Submit</button>
  </div>
</form>
